@model InventoryManagement.Models.InvTransaction
@{
    ViewBag.Title = "CreatePurachaseorder";
}


<style>
    .field-validation-error {
        color: red;
    }
</style>
@using (Ajax.BeginForm("CreatePurachaseorder", "Transaction", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "", OnSuccess = "Response" }))
{

    <div class="fa-heading" style="font-family:fantasy;">Create Purchase Order</div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" style="padding:1rem;">
                <label>Order No</label>
                @Html.TextBoxFor(x => x.TransactionCode, new { @class = "form-control", @maxlength = "25" })
                @Html.ValidationMessageFor(x => x.TransactionCode)


            </div>
            <div class="col-md-4" style="padding:1rem;">
                <label>Supplier</label>
                @Html.DropDownListFor(x => x.VendorId, new SelectList(new List<SelectListItem>{ new SelectListItem { Text="Select",Value="" },new SelectListItem { Text="Customer",Value="1" },new SelectListItem { Text="Vendor", Value = "2" } },"Value","Text",Model.VendorId)
                       , new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.VendorId)
            </div>
            <div class="col-md-4" style="padding:1rem;">
                <label>Order Date</label>
                @Html.TextBoxFor(x => x.OrderDate, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(x => x.OrderDate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" style="padding:1rem;">
                <label>Shipping Methods</label>
                @Html.TextBoxFor(x => x.TransactionCode, new { @class = "form-control", @maxlength = "25" })
                @Html.ValidationMessageFor(x => x.TransactionCode)


            </div>
            <div class="col-md-4" style="padding:1rem;">
                <label>Shipping Terms</label>
                @Html.DropDownListFor(x => x.VendorId, new SelectList(new List<SelectListItem>{ new SelectListItem { Text="Select",Value="" },new SelectListItem { Text="Customer",Value="1" },new SelectListItem { Text="Vendor", Value = "2" } },"Value","Text",Model.VendorId)
                       , new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.VendorId)
            </div>
            <div class="col-md-4" style="padding:1rem;">
                <label>Delievery Date</label>
                @Html.TextBoxFor(x => x.DelieveryDate, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(x => x.DelieveryDate)
            </div>
        </div>
    </div>
    <div class="fa-heading" style="font-family:fantasy;">Item Details</div>
    <hr />
    <div class="row">
        @Html.Partial("_ItemDetails")
    </div>
}
@section Scripts {


    <script>
        $(document).ready(function () {
            $('.item').select2({
                placeholder: "Select Product",
                allowClear: true
            });

        })

    </script>
    <script>
        $(document).on('change', '.item', function () {
            var currentRow = $(this).closest("tr");
            var $unitprice = currentRow.find(".unitprice");
            var $unit = currentRow.find(".qty");
            var $total = currentRow.find(".total");
            var $discount = currentRow.find(".discount");
            var itemId = $(this).val();
            var url = '@Url.Action("GetItemDetailById", "Transaction")';
            $.ajax({
                url: url,
                data: { Id:itemId },
                method: 'Get',
                success: function (response) {
                    var total = 0;
                    debugger;

                    $($unitprice).val(response.Sellprice)
                    var unitvalue = $($unit).val();
                    var amount = ((response.Sellprice) * $($unit).val()) - $($discount).val();
                    $($total).val(amount)



                }
            })
        })
    </script>

    <script>
        $(document).on('keyup', '.qty', function () {
            var currentRow = $(this).closest("tr");
            var $unitprice = currentRow.find(".unitprice");
            var $unit = currentRow.find(".qty");
            var $total = currentRow.find(".total");
            var $discount = currentRow.find(".discount");
            var amount = (($($unitprice).val()) * $($unit).val()) - $($discount).val();
            $($total).val(amount)
        })
    </script>
    <script>
        $(document).on('keyup', '.unitprice', function () {
            var currentRow = $(this).closest("tr");
            var $unitprice = currentRow.find(".unitprice");
            var $unit = currentRow.find(".qty");
            var $total = currentRow.find(".total");
            var $discount = currentRow.find(".discount");
            var amount = (($($unitprice).val()) * $($unit).val()) - $($discount).val();
            $($total).val(amount)
        })
    </script>
    <script>
        $(document).on('keyup', '.discount', function () {
            var currentRow = $(this).closest("tr");
            var $unitprice = currentRow.find(".unitprice");
            var $unit = currentRow.find(".qty");
            var $total = currentRow.find(".total");
            var $discount = currentRow.find(".discount");
            var amount = (($($unitprice).val()) * $($unit).val()) - $($discount).val();
            $($total).val(amount)
        })

        function GrandTotal() {
            $.each()

        }
    </script>
}