@model InventoryManagement.Models.Permissionviewmodel
@using InventoryManagement.Helper;

<div class="row">

    <div class="col-xs-12">
        <div class="box table-responsive no-padding">
            <div class="box-body">
                <table class="table table-bordered table-responsive">
                    <thead style="background-color:#FFFFFF">
                        <tr>
                            <th colspan="2"><h5 style="color:blue"><strong>Module Name</strong></h5></th>
                            <th>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" value="true" id="IsAddall" name="IsAddall" />
                                    <label for="IsAddall">
                                        ADD
                                    </label>
                                </div>
                                @*<input type="checkbox" value="true" id="IsAddall" name="IsAddall" />


                                    <h6>ADD</h6>*@


                            </th>
                            <th>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" value="true" id="IsEditall" name="IsEditall" />
                                    <label for="IsEditall">
                                        EDIT
                                    </label>
                                </div>
                                @*<input type="checkbox" value="true" id="IsEditall" name="IsEditall" />

                                    <h6>EDIT</h6>*@
                            </th>
                            <th>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" value="true" id="IsViewall" name="IsViewall" />
                                    <label for="IsViewall">
                                        VIEW
                                    </label>
                                </div>
                                @*<input type="checkbox" value="true" id="IsViewall" name="IsViewall" /><h6>VIEW</h6>*@

                            </th>

                            <th>
                                <div class="checkbox checkbox-success">
                                    <input type="checkbox" value="true" id="IsDeleteall" name="IsDeleteall" />
                                    <label for="IsDeleteall">
                                        DELETE
                                    </label>
                                </div>
                                @*<input type="checkbox" value="true" id="IsDeleteall" name="IsDeleteall" /><h6>DELETE</h6>*@
                            </th>
                            @*<th><input type="checkbox" value="true" id="IsAddall" name="IsAddall" /><h6>ADD</h6></th>
                                <th><input type="checkbox" value="true" id="IsEditall" name="IsEditall" /><h6>EDIT</h6></th>
                                <th><input type="checkbox" value="true" id="IsViewall" name="IsViewall" /><h6>VIEW</h6></th>

                                <th><input type="checkbox" value="true" id="IsDeleteall" name="IsDeleteall" /><h6>DELETE</h6></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Menumaster.OrderBy(x => x.DisplayOrder))
                        {
                            var mainindex = Model.Menumaster.IndexOf(item);
                            string dynamicclass = string.Empty;
                            dynamicclass = item.Name;
                            bool check = Model.Menumaster[mainindex].IsSelect;
                            <tr>

                                <td hidden><input type="hidden" id="FormID" name="FormID" /></td>

                                <td style="color:black;background-color:#EEF1F5;width:200px">
                                    @Html.CheckBoxFor(model => Model.Menumaster[mainindex].IsSelect, new { @class = "parent " + "_" + dynamicclass + "", @id = Model.Menumaster[mainindex].MenuId })<h6 style="font-size:1.5rem;">@item.Name</h6>
                                    @Html.HiddenFor(model => Model.Menumaster[mainindex].MenuId)
                                    @Html.HiddenFor(model => Model.Menumaster[mainindex].DisplayOrder)
                                    @Html.HiddenFor(model => Model.Menumaster[mainindex].Displayclass)
                                    @*<input type="checkbox" id="@item.Name" name="@item.Name" class="@item.Name focus_@item.Name" value="@item.Name" /><h6>@item.Name</h6>*@

                                </td>



                                <td hidden></td>
                                <td hidden></td>
                                <td><input type="hidden" id="select_all" value="true" name="IsAdd" class="addfocus" /></td>
                                <td><input type="hidden" id="editselect_all" value="true" name="IsEdit" /></td>
                                <td><input type="hidden" id="viewselect_all" value="true" name="IsView" /></td>
                                <td><input type="hidden" id="deleteselect_all" value="true" name="IsDelete" /></td>
                            </tr>
                            foreach (var child in item._SubMenumaster)
                            {
                                var index = item._SubMenumaster.IndexOf(child);

                                @Html.HiddenFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].SubMenumasterId)
                                @Html.HiddenFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].Displayclass)
                                <tr>
                                    <td hidden><input type="hidden" id="FormID" name="FormID" value="@child.SubMenumasterId" /></td>
                                    <td hidden style="color:black;background-color:#EEF1F5;"><input type="checkbox" id="@child.Action" name="@child.Action" class="@child.Action focus_@child.Action" value="@child.Action" /><h6 style="font-size:1.5rem;">@Html.DisplayFor(model => item._SubMenumaster[index].Action)</h6></td>
                                    <td style="text-align:right">
                                        <h5>@(index + 1)</h5>

                                    </td>
                                    <td>
                                        <h6 style="font-size:1.5rem;">@Html.DisplayFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].Action)</h6>
                                    </td>
                                    <td>

                                        @Html.CheckBoxFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].IsAdd, new { @class = "addfocus " + dynamicclass + "" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].IsEdit, new { @class = "editfocus " + dynamicclass + "" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].Isview, new { @class = "viewfocus " + dynamicclass + "" })
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => Model.Menumaster[mainindex]._SubMenumaster[index].Isdelete, new { @class = "deletefocus " + dynamicclass + "" })
                                    </td>
                                </tr>

                            }
                        }






                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




