@model InventoryManagement.Models.ApplicationUser
@using InventoryManagement.Helper;
@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="col-md-12">
        <h4>Create a new account.</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <label>User Name</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>First Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Last Name</label>

                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Mobile</label>
                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @maxlength = 10 })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Role</label>
                @Html.DropDownListFor(m => m.UserRole, new SelectList(Commonhelper.GetRoles(), "Value", "Text", Model.UserRole), "-Select Store-", new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Store</label>
                @Html.DropDownListFor(m => m.StoreId, new SelectList(Commonhelper.GetStores(), "Value", "Text", Model.StoreId), "-Select Store-", new { @class = "form-control" })
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label></label>
                <input type="submit" class="btn btn-default" value="Register" />
            </div>

        </div>
    </div>


 
    @*<div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>*@
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
