@model List<InventoryManagement.Models.ApplicationUser>
@using InventoryManagement.Helper;
@{
    ViewBag.Title = "RegisteredAccounts";
}
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
@*<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />*@
<div class="col-md-12">
    <a href="/Account/Register" class="btn btn-primary">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span>Add New</span>
        </div>
    </a>
</div>
<br />
<br />
<div class="col-xs-12">
    <div class="box table-responsive no-padding">
     
        <table class="display nowrap" id="tblusers">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>User Name</th>
                    <th>Company</th>

                    <th>Store</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var index = Model.IndexOf(item);
                    <tr>
                        <td>@(index + 1)</td>
                        <td>@item.UserName</td>
                        <td>@item._CompanyMaster.CompanyName</td>

                        @if (item.StoreId == null)
                        {

                            <td></td>
                        }
                        else
                        {
                            <td>@item._StoreMaster.StoreName</td>
                        }

                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.MobileNo</td>
                        <td>
                            @if (item.Status == true)
                            {
                                <span>Active</span>
                            }
                            else
                            {
                                <span>In Active</span>
                            }
                        </td>
                        <td>
                            <input type="button" value="Edit" class="btn btn-default" />
                            <input type="button" value="Delete" class="btn btn-danger" />
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
        <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>


        <script>
            $(document).ready(function () {
                $('#tblusers').DataTable({
                    responsive: true
                });
            });
        </script>


  }
